/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #F0B7A1;
  --primaryColor: #BF6E4E;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: rgba(255,255,255,0.88);
  --mainBackground: rgb(153,108,86);
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --offBlack: #353434;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --vWidth: 90vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--offBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
ul li {
  color: var(--primaryColor);
}
a {
  text-decoration: none;
  color: var(--primaryColor);
}
img {
  width: 100%;
  display: block;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  border: 2px solid var(--mainBlack);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  display: inline-block;
}
.btn:hover {
  background: var(--mainOverlay);
  color: var(--mainWhite);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--mainWhite);
  border-color: var(--primaryLightColor);

}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}
/* 
====== 
Navbar
======
*/
.navbar {
  background: transparent;
  display: flex;
  justify-content: center;
  height: 5rem;
  border-bottom: 0.8px solid var(--primaryColor);
}
.navbar_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--vWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.navbar_links a, .navbar_links li {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover, .nav-links li:hover {
  color: var(--primaryColor);
}
a.logo{
  font-weight: 600;
  letter-spacing: 1px;
}
/* 
====== 
About
======
*/
.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--offBlack);
}
/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container h1 {
  font-size: 6rem;
  background: #F0B7A1;
  background: -webkit-linear-gradient(to right, #F0B7A1 0%, #8C3310 50%, #752201 51%, #BF6E4E 100%);
  background: -moz-linear-gradient(to right, #F0B7A1 0%, #8C3310 50%, #752201 51%, #BF6E4E 100%);
  background: linear-gradient(to right, #F0B7A1 0%, #8C3310 50%, #752201 51%, #BF6E4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error-container p {
  color: var(--offBlack);
  width: 30vw;
}
/* 
====== 
Cocktails List 
======
*/

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  font-weight: 300;
}

.no-cocktail-title {
  color: var(--offBlack);
  text-align: center;
  margin: 3.5rem 1rem;
  font-weight: 300;
}

.cocktails-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/* 
====== 
Cocktail 
======
*/

.subtle {
  color: #aaa;
}

.card-container {
  display: grid;
  grid-template-rows: auto 1fr;
  color: var(--mainBlack);
}
.single-cocktail {
  margin-top: 35px;
  display: block;
}
.card-container:hover {
  box-shadow: var(--darkShadow);
}

.card {
  background-color: var(--mainWhite);
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  width: 100%;
  padding: 30px;
}

.card-number {
  margin-top: 15px;
  color: var(--primaryColor);
}

.card-circle {
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  color: var(--offBlack);
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-more {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  color: var(--primaryColor);
  display: block;
}

.card-more:after {
  background-color: var(--primaryColor);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 65%;
}

.card-media {
  float: right;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}
/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 15px;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: #fbfbfb;
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
/* 
====== 
Cocktail
======
*/

.cocktail-section {
  text-align: center;
}
.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.drink-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
